.img-cart{
	height: 50px;
	border-radius: 5px;
}

.cart-data{
	line-height: 1;
}

.cart-data .title{
	font-size: 12px;
}
.cart-data i:hover{
	cursor: pointer;
}
.produto:hover{
	cursor: pointer;
}
.autocomplete-list:hover{
	cursor: pointer;
	background: #49526B;
}

.cart-data i{
	font-size: 15px;
}
.cart-data .price{
	font-size: 15px;
	font-weight: bold;
}

.cart-qty{
	border: none;
	width: 70px;
	text-align: center;
}
.increment-decrement{
	margin-right: 3px;
}
.stock-item{
	font-size: 12px;
	display: block;
	background: #49526B;
	width: 70px;
	color: #fff;
	margin-top: 20px;
	position: absolute;
}
.stock-item b{
	margin-left: 7px;
}

.card-img-top{
	height: 130px;
}
.body-item{
	line-height: 0.4;
	height: 80px;
}
.body-item .card-title{
	font-size: 11px;
}
.body-item .card-text{
	font-size: 14px;
	color: #49526B;
}

.results-list{
	position: absolute;
	z-index: 999;
	width: 100%;
}

.autocomplete-list{
	width: 100%;
	background: #CED4DA;
	padding: 10px;
	color: #fff;
}

